# Example use of the ThermoOut class

The `ThermoOut` class object can be used to read in thermodynamic data written to LAMMPS log files (or in files from std out redirects) as controlled by the `thermo` and `thermo_style` commands. The `ThermoOut` class will parse the LAMMPS log file and extract the thermodynamic data into a [Pandas DataFrame](https://pandas.pydata.org/). Kaggle has a nice [Learn module on Pandas](https://www.kaggle.com/learn/pandas) if you are unfamiliar with Pandas and using its DataFrame objects.  

In this example, we will read a LAMMPS log file, typically named `log.lammps`. This file is included in the `sample-data/thermo-out` folder and is the thermo output from three different runs. The first is a minimization, the second is under NVT conditions, and the third is under NPT conditions. We will go over how to use the `ThermoOut` class to parse these sets of thermodynamic data.

First, we can import the `ThermoOut` class from the lmp_post package:

In [1]:
from lmp_post import ThermoOut

We will also import the standard library package `os` to handle file paths:

In [2]:
import os

Then let's set the file and path to access it from the `sample-data` folder:

In [3]:
file = os.path.abspath('../sample-data/thermo-out/log.lammps')

## 1 Read the first set of thermodynamic data from log.lammps

The first set of thermodynmic outputs are from a call to the `minimize` command. To read this one in we can instantiate an instance of the `ThermoOut` class with the log file:

In [4]:
thermo_out_min = ThermoOut(file)

For the `ThermoOut` class the data is parsed into a Pandas DataFrame accessible with the `data` attribute:

In [5]:
data_min = thermo_out_min.data

In [6]:
type(data_min)

pandas.core.frame.DataFrame

We can then use the data and perform any Pandas DataFrame operations as needed. For example, let's call the head function (similar to using the `head` command from Linux command line):

In [7]:
data_min.head()

   Step  Temp       Press     Enthalpy     Lx     Ly     Lz
0     0   0.0  535562.270  1088094.800  140.0  140.0  140.0
1   100   0.0  -10081.277   -71054.114  140.0  140.0  140.0

Or to access the pressure, `Press`, data column:

In [8]:
data_min['Press']

0    535562.270
1    -10081.277
Name: Press, dtype: float64

## 2 Read the second set of thermodynamic data from log.lammps

As we noted previously, our log file contains three sets of thermodynamic outputs. The first set of was from a call to the `minimize` command. The seond set of thermodynamic outputs is from a NVT simulation run. To read this one in we can instantiate a new instance of the `ThermoOut` class with the log file and read the second set outputs by specifying the optional `run_number` argument:

In [9]:
# Read the second set of thermodynic inputs by specifying 
# the run_number=1 (0 is the first and 1 is second).
thermo_out_nvt = ThermoOut(file, run_number=1)

Similarly, we can access the parsed data as a Pandas DataFrame:

In [10]:
data_nvt = thermo_out_nvt.data
type(data_nvt)

pandas.core.frame.DataFrame

In [11]:
data_nvt.head()

   Step       Temp      Press   Enthalpy     Lx     Ly     Lz
0   100  300.00000 -6068.5802 -53873.050  140.0  140.0  140.0
1  1000  272.19280 -1934.1425 -40635.731  140.0  140.0  140.0
2  2000  299.02922 -1637.2042 -37968.001  140.0  140.0  140.0
3  3000  301.10310 -1098.6999 -37042.159  140.0  140.0  140.0
4  4000  299.90267 -1310.0251 -37569.372  140.0  140.0  140.0

## 3 Read the third set of thermodynamic data from log.lammps

As we noted previously, our log file contains three sets of thermodynamic outputs. The first set of was from a call to the `minimize` command. The seond set of thermodynamic outputs is from a NVT simulation run. Now, the third one is from a NPT simulation run. To read this one in we can instantiate another instance of the `ThermoOut` class with the log file and read the third set outputs by specifying the optional `run_number` argument:

In [12]:
# Read the third set of thermodynic inputs by specifying 
# the run_number=2 (index 2 is the third one).
thermo_out_npt = ThermoOut(file, run_number=2)

Similarly, we can access the parsed data as a Pandas DataFrame:

In [13]:
data_npt = thermo_out_npt.data
type(data_npt)

pandas.core.frame.DataFrame

In [14]:
data_npt.head()

   Step       Temp        Press   Enthalpy         Lx         Ly         Lz
0     0  299.79905 -1260.271200 -37955.703  140.00000  140.00000  140.00000
1  1000  299.63241  -208.694470 -36401.703  138.64367  138.64367  138.64367
2  2000  299.72866   -59.342009 -36176.636  138.11380  138.11380  138.11380
3  3000  299.85732  -135.196210 -36275.793  137.82904  137.82904  137.82904
4  4000  299.84504  -108.301940 -36270.447  137.60678  137.60678  137.60678